/Esercizi-base/dist/
/Ex1_8_Terminale/nbproject/private/
/Ex1_8_Terminale/build/
/Ex1_8_Terminale/dist/
/Ex1_8_Terminale_1/nbproject/private/
/Ex1_8_Terminale_1/build/
/Ex1_8_Terminale_1/dist/
/Ex1_8_Gui/nbproject/private/
/Ex1_8_Gui/build/
/Ex1_8_Gui/dist/
/HTML5Application/nbproject/private/
/Ex1_8_JS/nbproject/private/
/Ex_array/nbproject/private/
/Ex_array/build/
/OO_Dado/nbproject/private/
/OO_Dado/build/
/Ex_Collection/nbproject/private/
/Ex_Collection/build/
/OO_Dado_1/nbproject/private/
/OO_Bank/nbproject/private/
/OO_Bank/build/
/OO_BJ/nbproject/private/
/OO_BJ/build/
/OO_BJ/dist/
/OO_ConcettiBase/nbproject/private/
/OO_ConcettiBase/build/
/OO_Interfacce/nbproject/private/
/OO_Interfacce/build/
/Biblioteca/nbproject/private/
/Biblioteca/build/
/CellPhone/nbproject/private/
/CellPhone/build/
/CellPhone1/nbproject/private/
/CellPhone1/build/
/Room_9/nbproject/private/
/Room_9/build/
/Files/nbproject/private/
/Files/build/
/Agenda/nbproject/private/
/Agenda/build/
/generics/nbproject/private/
/Compito/nbproject/private/
/Test/nbproject/private/
/Test/build/
/mvntest/target/
/mvntest/nbproject/
/Jdbc/target/
/Jpa/target/
/jee-start/target/
/blogapp/blogapp/target/
/blogapp/blogapp/nbproject/
/blogapp/blogapp-st/target/
/worldapp/worldapp/target/
